<%= form_with(model: api_restaurant, local: true) do |form| %>
  <% if api_restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_restaurant.errors.count, "error") %> prohibited this api_restaurant from being saved:</h2>

      <ul>
        <% api_restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
